.main {
  padding: 200px 0;
  text-align: center;

  h1 {
    margin-bottom: 24px;
  }

  h3 {
    font-weight: 400;
    margin-bottom: 64px;
  }

  a {
    font-size: 32px;
    font-family: var(--font-spectral);
  }
}
