.main {
  padding-top: 166px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 51px 31px;

  @media screen and (max-width: 359px) {
    grid-template-columns: 1fr;
  }

  .imgHolder {
    aspect-ratio: 406/600;
    overflow: hidden;
    position: relative;
    margin: 0 0 22px;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    max-width: none;
    height: auto;
    min-height: 100%;
  }
  img {
    width: 100%;
    height: auto;
    margin: 0 0 20px;
  }

  .title {
    font-family: var(--font-spectral);
    font-size: 28px;
    font-weight: 300;
    line-height: 30px;
    color: #000;
  }
}
