@import "./breakpoints.scss";

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 2px solid #fff;
  padding: 60px 0 50px;
  margin-top: 56px;
  color: #000;
  font-family: var(--font-belleza);
  font-size: 20px;
  line-height: 20px;

  @include mobile {
    grid-template-columns: auto 1fr;
    gap: 30px 10px;
    font-size: 16px;

    nav {
      grid-column: span 2;
      grid-row: 1;

      li {
        text-align: left;
      }
    }
  }
}

.copyrigh {
  p {
    margin-bottom: 15px;
  }
}

.toTop {
  display: flex;
  justify-content: flex-end;

  img {
    transition: transform 0.1s ease-in;

    @include mobile {
      width: 35px;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
