@import "./breakpoints.scss";

.main {
  padding-top: 166px;

  @include tablet {
    padding-top: 75px;
  }
}

.headerImage {
  width: 100%;
  height: auto;
}

.eventData {
  margin: 78px 0 45px;

  @include mobile {
    margin: 25px 0 37px;
  }

  h1 {
    font-family: var(--font-spectral);
    font-size: 60px;
    font-weight: 300;
    line-height: 70px;
    text-align: center;
    margin: 0 auto 40px;
    max-width: 850px;

    @include mobile {
      font-size: 30px;
      line-height: 38px;
    }
  }

  p {
    font-family: var(--font-belleza);
    font-size: 24px;
    font-weight: 400;
    text-align: center;

    @include mobile {
      font-size: 18px;
    }
  }
}
