@import "./breakpoints.scss";

html,
body {
  padding: 0;
  margin: 0;
  background: #ebe9e1;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;

  transition: color 0.1s ease-in-out;

  &:hover {
    color: #b7cfbc;
  }
}

* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;

  @media screen and (max-width: 1279px) {
    margin: 0 20px;
  }

  @include mobile {
    margin: 0 10px;
  }
}

//   @media screen and (max-width: 1279px) {
//
//   }

//   @media screen and (max-width: 767px) {
//
//   }

//   @media screen and (max-width: 359px) {
//
//   }
