@import "./breakpoints.scss";

.headerHolder {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.headerImage {
  min-width: 100vw;
  min-height: 100vh;
  max-width: none;
  max-height: none;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include tablet-portrait {
    height: 100%;
    width: auto;
  }

  @include mobile-portrait {
    height: 100%;
    width: auto;
  }
}

.headerTitle {
  font-family: var(--font-spectral);
  font-size: 96px;
  line-height: 110px;
  font-weight: 300;
  font-style: italic;
  position: absolute;
  color: #fff;
  text-align: center;
  width: 80vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include tablet {
    font-size: 78px;
    line-height: 84px;
  }

  @include mobile {
    font-size: 40px;
    line-height: 42px;
  }

  @include mobile-portrait {
    font-size: 60px;
    line-height: 63px;
  }
}

.topSection {
  padding: 170px 0 122px;
  display: flex;
  flex-direction: column;
  max-width: 1280px;

  @include desktop {
    padding: 110px 20px 76px;
  }

  @include tablet {
    padding: 50px 10px 64px;
  }

  @include mobile {
    padding: 33px 0 48px;
  }
}

.titleHolder {
  max-width: 790px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  text-transform: uppercase;
}

.topTitle {
  font-family: var(--font-belleza);
  font-size: 48px;
  font-weight: 400;
  color: #000;

  @include tablet {
    font-size: 32px;
    margin-bottom: 32px;
  }

  @include mobile {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.topSubtitle {
  text-align: right;
  font-family: var(--font-belleza);
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;

  @include tablet {
    font-size: 22px;
    line-height: 25px;
  }

  @include mobile {
    font-size: 18px;
    line-height: 21px;
  }
}

.topDescription {
  display: grid;
  grid-template-columns: 48.75% 37.75%;
  margin-top: 170px;
  grid-gap: 14.5%;

  @include desktop {
    grid-template-columns: 52.75% 39.75%;
    margin-top: 120px;
    grid-gap: 7.5%;
  }

  @include tablet {
    margin-top: 60px;
  }

  @include mobile {
    grid-template-columns: 1fr;
    grid-gap: 48px;
    margin-top: 26px;
  }

  img {
    width: 100%;
    height: auto;
  }

  .topTitleHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;

    @include tablet {
      padding-right: 25px;
    }

    h2 {
      font-family: var(--font-spectral);
      font-size: 60px;
      font-style: italic;
      font-weight: 300;
      line-height: 70px;
      margin-bottom: 34px;

      @include tablet {
        font-size: 48px;
        line-height: 56px;
      }

      @include mobile {
        font-size: 38px;
        line-height: 46px;
      }
    }

    p {
      font-family: var(--font-belleza);
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;

      @include tablet {
        font-size: 18px;
        line-height: 26px;
      }

      @include mobile {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

.greenSection {
  padding: 174px 80px 165px;
  background: #b7cfbc;

  @include tablet {
    padding: 87px 40px;
  }

  @include mobile {
    padding: 50px 20px;
  }

  .greenSectionFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    font-family: var(--font-spectral);
    font-size: 60px;
    text-align: center;
    line-height: 70px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 55px;

    @include tablet {
      font-size: 45px;
      line-height: 58px;
    }

    @include mobile {
      font-size: 30px;
      line-height: 38px;
    }
  }

  img {
    width: 200px;
    height: auto;

    @include mobile {
      width: 150px;
    }
  }
}

.secondDescription {
  padding: 79px 0;
  display: grid;
  grid-template-columns: auto 43%;
  grid-gap: 8.3%;
  border-bottom: 2px solid #fff;

  @include mobile {
    grid-template-columns: 1fr;
    grid-gap: 48px;
    padding: 39px 0 57px;
  }

  .secondDesHolder {
    display: flex;
    flex-direction: column;
    padding-left: 13.48%;

    @include mobile {
      padding-left: 0;
    }

    h2 {
      font-family: var(--font-belleza);
      font-size: 60px;
      font-weight: 400;
      line-height: 80px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      margin-bottom: 8px;

      @include tablet {
        font-size: 42px;
        line-height: 48px;
      }

      @include mobile {
        font-size: 28px;
        line-height: 33px;
      }
    }

    p {
      font-family: var(--font-spectral);
      font-size: 40px;
      font-style: italic;
      font-weight: 300;
      line-height: 50px;

      @include tablet {
        font-size: 32px;
        line-height: 38px;
      }

      @include mobile {
        font-size: 22px;
        line-height: 28px;
      }
    }

    img {
      width: 150px;
      height: auto;
      align-self: end;
    }
  }

  img {
    width: 100%;
    height: auto;

    @include mobile {
      grid-column: 1;
      grid-row: 1;
    }
  }
}

.whatWeDo {
  padding-top: 44px;

  h2 {
    font-family: var(--font-belleza);
    font-size: 60px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 8px;
    text-align: center;
    margin-bottom: 32px;

    @include tablet {
      font-size: 42px;
      line-height: 48px;
    }

    @include mobile {
      font-size: 28px;
      line-height: 33px;
    }
  }

  p {
    font-family: var(--font-spectral);
    font-size: 28px;
    font-weight: 300;
    line-height: 45px;
    text-align: center;
    margin-bottom: 45px;

    @include tablet {
      font-size: 20px;
      line-height: 32px;
    }

    @include mobile {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .threeImages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 31px;

    @include desktop {
      gap: 10px;
    }
  }

  .twoImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 82px;

    @include desktop {
      margin-top: 21px;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}

.gallery {
  padding: 47px 0 94px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    padding-bottom: 77px;
  }

  .galleryTitle {
    font-family: var(--font-belleza);
    font-size: 60px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 47px;
    text-transform: uppercase;

    @include tablet {
      font-size: 42px;
      line-height: 48px;
    }

    @include mobile {
      font-size: 28px;
      line-height: 33px;
    }
  }

  .galleryLink {
    margin-top: 84px;

    @include tablet {
      margin-top: 54px;
    }

    button {
      font-family: var(--font-spectral);
      font-size: 18px;
      font-weight: 400;
      line-height: 40px;
      text-align: center;
      padding: 0 20px;
      background: #b7cfbc;
      border: none;
      height: 50px;
      display: flex;
      align-items: center;
      transition: filter 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        filter: brightness(0.85);
      }
    }
  }

  .galleryHolder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 31px;
    width: 100%;

    @include desktop {
      gap: 10px;
    }

    @include mobile {
      grid-template-columns: 1fr;
      gap: 35px;
    }

    .galleryPageLink {
      .imgHolder {
        aspect-ratio: 406/600;
        overflow: hidden;
        position: relative;
        margin-bottom: 22px;

        @include mobile {
          margin-bottom: 10px;
        }
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        max-width: none;
        height: auto;
        min-height: 100%;
        background: #b7cfbc;
        transition: opacity 0.2s ease-in-out;
      }

      h3 {
        font-family: var(--font-spectral);
        font-size: 28px;
        font-weight: 300;
        line-height: 30px;
        color: #000;
        transition: color 0.2s ease-in-out;

        @include tablet {
          font-size: 24px;
          line-height: 28px;
        }
      }
      &:hover {
        img {
          opacity: 0.8;
        }
        h3 {
          color: #b7cfbc;
        }
      }
    }
  }
}

.largeImages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  img {
    width: 100%;
    height: auto;
  }
}

.published {
  padding: 58px 0 146px;

  @include mobile {
    padding: 50px 0;
  }

  h3 {
    font-family: var(--font-belleza);
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;

    @include mobile {
      font-size: 18px;
      line-height: 33px;
    }
  }

  .logosHolder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 150px;
    justify-content: space-around;
    align-items: center;
    max-width: 980px;
    margin: 100px auto 0;

    @include mobile {
      gap: 50px;
      margin: 50px 0 0;
    }

    @include mobile-portrait {
      grid-template-columns: 1fr;
      gap: 0;
    }

    .logoHolder {
      position: relative;
    }

    img {
      width: 100%;
      position: relative !important;

      @include mobile-portrait {
        object-fit: scale-down;
      }
    }
  }
}

.about {
  background: #b7cfbc;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include mobile {
    grid-template-columns: 1fr;
  }

  .aboutHolder {
    padding: 65px 66px 80px 70px;

    @include tablet {
      padding: 48px 20px;
    }

    @include mobile {
      grid-row: 2;
      padding: 40px 20px;
    }
  }

  h2 {
    font-family: var(--font-belleza);
    font-size: 60px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 32px;

    @include tablet {
      font-size: 42px;
      line-height: 48px;
      margin-bottom: 24px;
    }

    @include mobile {
      font-size: 28px;
      line-height: 33px;
    }
  }

  .textHolder {
    font-family: var(--font-spectral);
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;

    @include tablet {
      font-size: 18px;
      line-height: 23px;
    }

    p {
      margin-bottom: 26px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .subscription {
    margin-top: 40px;
    font-family: var(--font-spectral);
    font-size: 30px;
    font-style: italic;
    font-weight: 300;
    line-height: 44px;

    @include tablet {
      font-size: 24px;
      line-height: 32px;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}

.formSection {
  padding: 57px 0 0;
  border-top: 2px solid #fff;
  margin-top: 61px;

  h2 {
    font-family: var(--font-belleza);
    font-size: 60px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 19px;
    text-align: center;

    @include tablet {
      font-size: 42px;
      line-height: 48px;
      margin-bottom: 24px;
    }

    @include mobile {
      font-size: 28px;
      line-height: 33px;
    }
  }

  .description {
    font-family: var(--font-spectral);
    font-size: 34px;
    font-weight: 400;
    line-height: 44px;
    text-align: center;
    margin-bottom: 84px;

    @include tablet {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 64px;
    }

    @include mobile {
      font-size: 16px;
      line-height: 17px;
      margin-bottom: 32px;
    }
  }
}

.instaSection {
  padding-top: 57px;

  .instaTitle {
    font-family: var(--font-belleza);
    font-size: 30px;
    font-weight: 400;
    line-height: 44px;
    text-align: center;

    @include tablet {
      font-size: 18px;
    }
  }

  p {
    color: red;
    text-align: center;
    margin-top: 40px;
  }
}
