@import "./breakpoints.scss";

.navbar {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.navbarContent {
  transform: scaleY(0);
  transform-origin: top;
  position: absolute;
  transition: transform 0.4s ease-in-out;
  background: #ebe9e1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.logo {
  @include mobile {
    max-width: 150px;
  }
}

.isVisible {
  transform: scale(1);
}

.navbarContentHolder {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  padding: 63px 0 80px;

  @include tablet {
    padding: 20px 0 40px;
  }
}

.langSwitch {
  margin-top: 60px;
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  text-transform: uppercase;
  font-family: var(--font-belleza);
  font-size: 36px;
  font-weight: 400;
  line-height: 41.47px;
  letter-spacing: 0.1em;
  text-align: center;

  @include tablet {
    font-size: 18px;
  }
}

.close {
  position: absolute;
  top: 66px;
  right: 59px;

  @include tablet {
    max-width: 20px;
    top: 22px;
    right: 20px;
  }
}

.transparentHolder {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 63px;

  @include tablet {
    margin-top: 20px;
  }
}

.menuIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 59px;
  width: auto;
  height: auto;

  @include tablet {
    max-width: 20px;
    right: 20px;
  }
}
