@import "./breakpoints.scss";

.navlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0;

  &.navListLarge {
    font-size: 48px;
    line-height: 55.3px;
    font-family: var(--font-belleza);

    @include tablet {
      font-size: 24px;
      line-height: 27.65px;
    }
  }

  li {
    margin-bottom: 15px;
    text-align: center;

    .navlistLarge & {
      margin-bottom: 20px;
    }

    a {
      text-align: center;
    }
  }
}
